// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-2" {
      transform "180"
//    position x=0 y=0
      
}

output "eDP-1" {
//    position x=1920 y=0
}
